--patch-module java.base=../emc4j.boot.jpms.patches/java.base.patch/target/java.base.patch-1.0.0-SNAPSHOT.jar
--add-exports java.base/javapatch.lang.module=java.base.patch.link

--patch-module spring.core=../emc4j.boot.jpms.patches/spring.core.patch/target/spring.core.patch-1.0.0-SNAPSHOT.jar
--patch-module org.hibernate.orm.core=../emc4j.boot.jpms.patches/org.hibernate.orm.core.patch/target/org.hibernate.orm.core.patch-1.0.0-SNAPSHOT.jar

--patch-module maven.model=C:/Users/ptreilhes/.m2/repository/org/apache/maven/maven-model-builder/3.9.11/maven-model-builder-3.9.11.jar

--add-reads spring.core=emc4j.boot.layer

--add-reads emc4j.boot.registry=ALL-UNNAMED

--add-opens java.base/java.lang=ALL-UNNAMED

